<app-navbar></app-navbar>

<body>
  <main>
    <div class="header">
      <div class="header-filter row-direction">
        <p>Todos</p>
        <p>Top 5</p>
      </div>
      <div class="header-title">
        <p class="underline bold">Clientes</p>
      </div>

      <div class="header-search">
        <input type="text" class="search-input">
      </div>
    </div>

    <div class="table-header row-direction">
      <p class="link">#</p>
      <p class="nome">Nome</p>
      <p class="cpf">CPF</p>
      <p class="cidade">Cidade</p>
      <p class="estado">Estado</p>
      <p class="saldo">Saldo</p>
    </div>

    <div class="table-container">
      <table class="text-grey full-width">
        <thead hidden>
          <tr>
            <th class="link"></th>
            <th class="nome">T-nome</th>
            <th class="cpf">T-CPF</th>
            <th class="cidade">Cidade</th>
            <th class="estado">UF</th>
            <th class="saldo">Saldo</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="link">1</td>
            <td class="nome">Fulano da Silva</td>
            <td class="cpf">123.456.789-00</td>
            <td class="cidade">São Paulo</td>
            <td class="estado">SP</td>
            <td class="saldo">R$ 1.000,00</td>
          </tr>
          <tr>
            <td class="link">1</td>
            <td class="nome">Fulano da Silva</td>
            <td class="cpf">123.456.789-00</td>
            <td class="cidade">São Paulo</td>
            <td class="estado">SP</td>
            <td class="saldo">R$ 1.000,00</td>
          </tr>
          <tr>
            <td class="link">1</td>
            <td class="nome">Fulano da Silva</td>
            <td class="cpf">123.456.789-00</td>
            <td class="cidade">São Paulo</td>
            <td class="estado">SP</td>
            <td class="saldo">R$ 1.000,00</td>
          </tr>
          <tr>
            <td class="link">1</td>
            <td class="nome">Fulano da Silva</td>
            <td class="cpf">123.456.789-00</td>
            <td class="cidade">São Paulo</td>
            <td class="estado">SP</td>
            <td class="saldo">R$ 1.000,00</td>
          </tr>
          <tr>
            <td class="link">1</td>
            <td class="nome">Fulano da Silva</td>
            <td class="cpf">123.456.789-00</td>
            <td class="cidade">São Paulo</td>
            <td class="estado">SP</td>
            <td class="saldo">R$ 1.000,00</td>
          </tr>
          <tr>
            <td class="link">1</td>
            <td class="nome">Fulano da Silva</td>
            <td class="cpf">123.456.789-00</td>
            <td class="cidade">São Paulo</td>
            <td class="estado">SP</td>
            <td class="saldo">R$ 1.000,00</td>
          </tr>
          <tr>
            <td class="link">1</td>
            <td class="nome">Fulano da Silva</td>
            <td class="cpf">123.456.789-00</td>
            <td class="cidade">São Paulo</td>
            <td class="estado">SP</td>
            <td class="saldo">R$ 1.000,00</td>
          </tr>
          <tr>
            <td class="link">1</td>
            <td class="nome">Fulano da Silva</td>
            <td class="cpf">123.456.789-00</td>
            <td class="cidade">São Paulo</td>
            <td class="estado">SP</td>
            <td class="saldo">R$ 1.000,00</td>
          </tr>
          <tr>
            <td class="link">1</td>
            <td class="nome">Fulano da Silva</td>
            <td class="cpf">123.456.789-00</td>
            <td class="cidade">São Paulo</td>
            <td class="estado">SP</td>
            <td class="saldo">R$ 1.000,00</td>
          </tr>
          <tr>
            <td class="link">1</td>
            <td class="nome">Fulano da Silva</td>
            <td class="cpf">123.456.789-00</td>
            <td class="cidade">São Paulo</td>
            <td class="estado">SP</td>
            <td class="saldo">R$ 1.000,00</td>
          </tr>
          <tr>
            <td class="link">1</td>
            <td class="nome">Fulano da Silva</td>
            <td class="cpf">123.456.789-00</td>
            <td class="cidade">São Paulo</td>
            <td class="estado">SP</td>
            <td class="saldo">R$ 1.000,00</td>
          </tr>
          <tr>
            <td class="link">1</td>
            <td class="nome">Fulano da Silva</td>
            <td class="cpf">123.456.789-00</td>
            <td class="cidade">São Paulo</td>
            <td class="estado">SP</td>
            <td class="saldo">R$ 1.000,00</td>
          </tr>
          <tr>
            <td class="link">1</td>
            <td class="nome">Fulano da Silva</td>
            <td class="cpf">123.456.789-00</td>
            <td class="cidade">São Paulo</td>
            <td class="estado">SP</td>
            <td class="saldo">R$ 1.000,00</td>
          </tr>
          <tr>
            <td class="link">1</td>
            <td class="nome">Fulano da Silva</td>
            <td class="cpf">123.456.789-00</td>
            <td class="cidade">São Paulo</td>
            <td class="estado">SP</td>
            <td class="saldo">R$ 1.000,00</td>
          </tr>
          <tr>
            <td class="link">1</td>
            <td class="nome">Fulano da Silva</td>
            <td class="cpf">123.456.789-00</td>
            <td class="cidade">São Paulo</td>
            <td class="estado">SP</td>
            <td class="saldo">R$ 1.000,00</td>
          </tr>
          <tr>
            <td class="link">1</td>
            <td class="nome">Fulano da Silva</td>
            <td class="cpf">123.456.789-00</td>
            <td class="cidade">São Paulo</td>
            <td class="estado">SP</td>
            <td class="saldo">R$ 1.000,00</td>
          </tr>
          <tr>
            <td class="link">1</td>
            <td class="nome">Fulano da Silva</td>
            <td class="cpf">123.456.789-00</td>
            <td class="cidade">São Paulo</td>
            <td class="estado">SP</td>
            <td class="saldo">R$ 1.000,00</td>
          </tr>
        </tbody>
      </table>

    </div>
  </main>
</body>
