<app-center-modal *ngIf="showModal">
  <div class="list-container" *ngIf="list">
  <div class="header-container">
    <button class="back-btn" (click)="closeModal()"><i class="fa-solid fa-arrow-left"></i></button>
    <p class="list-title underline">Lista de espera</p>
  </div>

  <div class="user-container">


    <div class="table-title">
      <h1 class="t-nome">Nome</h1>
      <h1 class="t-cpf">CPF</h1>
      <h1 class="t-salario">Salário</h1>
      <h1 class="t-escolha">!</h1>
    </div>

    <div class="table-info">
      <tr>
        <td class="t-nome">Arthur Gian</td>
        <td class="t-cpf">112.547.319-38</td>
        <td class="t-salario">1200</td>
        <td class="td-escolha">
          <button class="approve-btn"><i class="fa fa-check"></i></button>
          <button class="deny-btn" (click)="openModal(2)"><i class="fa fa-times"></i></button>
        </td>
      </tr>
    </div>

  </div>

  <div class="btn-container">
    <button class="save-btn">Salvar</button>
  </div>
</div>

<div *ngIf="deny" class="deny-container">
  <form (ngSubmit)="doDeny()" [formGroup]="denyForm" class="user-container">

  <div class="d-header-container">
    <button class="back-btn" (click)="returnModal()"><i class="fa-solid fa-arrow-left"></i></button>
    <h1 class="d-header-title">Rejeitar</h1>
  </div>
  <div class="d-user-container">
    <h1>Dê um motivo <br>
      para a reprovação</h1>
    <p>Seja o mais claro possível, <br> para que o julgamento seja justo!</p>
    <textarea cols="50" rows="10" formControlName="motivo"></textarea>
  </div>

  <div class="d-btn-container">
    <button type="submit" class="save-btn">Enviar</button>
  </div>
  </form>
</div>

<div *ngIf="profile" class="profile-container">
  <div class="p-header-container">
    <button class="back-btn" (click)="closeModal()"><i class="fa-solid fa-arrow-left"></i></button>
    <h1 class="p-header-title">Informações</h1>
  </div>

  <div class="p-user-container">
    <div class="basic-info">
      <img src="../../../assets/icons/profile-user.png" alt="">
      <input disabled type="text">
      <div class="gray-line"></div>
      <p>Cliente</p>
    </div>

    <div class="other-info">
      <input disabled type="text" placeholder="Número da conta">
      <input disabled type="text" placeholder="E-mail">
        <section class="row-direction">
      <input disabled type="text" placeholder="CPF">
      <input disabled type="text" placeholder="Telefone">
        </section>
        <section class="row-direction">
      <input disabled type="text" placeholder="Salário">
      <input disabled type="text" placeholder="CEP">
        </section>
      <input disabled type="text" placeholder="Endereço">
      <section class="row-direction small-input">
      <input disabled type="text" placeholder="Nº">
      <input disabled type="text" placeholder="Complemento">
        </section>
      <section class="row-direction">
      <input disabled type="text" placeholder="Estado">
      <input disabled type="text" placeholder="Cidade">
        </section>
    </div>

  </div>
</div>
</app-center-modal>

<app-navbar></app-navbar>

<body>
<main>
  <div class='header'>
    <div class='header-filter row-direction'>
      <p>Todos</p>
      <p>Top 5</p>
      <button (click)="openModal(1)" class="waiting">Aguardando aprovação</button>
    </div>
    <div class='header-title'>
      <p class='underline bold'>Clientes</p>
    </div>

    <div class='header-search'>
      <input class='search-input' type='text'>
    </div>
  </div>

  <div class='table-header row-direction'>
    <p class='link'>#</p>
    <p class='nome'>Nome</p>
    <p class='cpf'>CPF</p>
    <p class='cidade'>Cidade</p>
    <p class='estado'>Estado</p>
    <p class='saldo'>Saldo</p>
  </div>

  <div class='table-container'>
    <table class='text-grey full-width'>
      <tbody>
      <tr (click)="openModal(3)">
        <td class='link'>1</td>
        <td class='nome'>Fulano da Silva</td>
        <td class='cpf'>123.456.789-00</td>
        <td class='cidade'>São Paulo</td>
        <td class='estado'>SP</td>
        <td class='saldo'>R$ 1.000,00</td>
      </tr>
      </tbody>
    </table>

  </div>
</main>
</body>
