<app-navbar></app-navbar>

<body>
  <main>
    <div id="lside-container" class="red-border">
      <div class="title red-border">
        <p class="underline">Gerentes</p>
      </div>
      <div class="cards-container red-border">
        <div class="card red-border"></div>

        <div class="card red-border"></div>

        <div class="card red-border"></div>

        <div class="card red-border"></div>

        <div class="card red-border"></div>

        <div class="card red-border"></div>

      </div>
    </div>

    <div id="rside-container" class="red-border">
      <!-- <img src="../../../../assets/icons/users.png" alt="Clientes"> -->
      <!-- <a href="#">Relatório de clientes</a> -->
    </div>

  </main>
</body>
