<app-navbar></app-navbar>

<body>
  <main>
    <div id="lside-container" class="red-border">
      <div class="title red-border">
        <p class="p-title underline">Gerentes</p>
      </div>
      <div class="cards-container red-border">
        <div class="card">
          <img class="card-img" src="../../../../assets/icons/manager.png" alt="Gerente" >
          <p>Gerente</p>
          <p>CPF</p>
          <p>000.000.000-00</p>
          <p>E-mail</p>
          <p>email@email.com</p>
          <p>Telefone</p>
          <p>(41) 9 0000-0000</p>
        </div>
        <div class="card"></div>

        <div class="card"></div>

        <div class="card"></div>

        <div class="card"></div>

        <div class="card"></div>

      </div>
    </div>

    <div id="rside-container" class="red-border">
      <!-- <img src="../../../../assets/icons/users.png" alt="Clientes"> -->
      <!-- <a href="#">Relatório de clientes</a> -->
    </div>

  </main>
</body>
