/* [ Padding Top ] */

.p-t-115 {padding-top: 115px;}

/* [ Padding Bottom ] */

.p-b-26 {padding-bottom: 26px;}
.p-b-48 {padding-bottom: 48px;}


/*[ Text ] */
/* ------------------------------------ */
.text-white {color: white;}
.text-black {color: black;}
.text-grey {color: #ADADAD;}
.bold {font-weight: 800;}

.text-hov-white:hover {color: white;}

/* ------------------------------------ */
.text-up {text-transform: uppercase;}

/* ------------------------------------ */
.text-center {text-align: center;}
.text-left {text-align: left;}
.text-right {text-align: right;}
.text-middle {vertical-align: middle;}

.full-width {width: 100%;}
.red-border {border: 1px solid red;}
.underline {border-bottom: 3px solid #C0C0C0;   width: fit-content; }








