<body>
  <main>
    <div id="form-container">
      <div class="title">
        <h1>Informações Básicas</h1>
        <div class="line"></div>
      </div>

      <div class="basic-form">

        <div class="basic-form-left-container">
          <form class="basic-form-left">
            <div class="form-group-column ">
              <input requires type="text" placeholder="* Nome" id="nome" name="nome">
              <input required type="email" placeholder="* E-mail" id="email" name="emails">
            </div>
            <div class="form-group-row form-group">
              <input required type="password" placeholder="* Insira a senha" id="senha" name="senha">
              <input required type="password" placeholder="* Confirme a senha" id="confirma-senha"
                name="confirma-senha">
            </div>
          </form>
        </div>

        <div class="basic-form-right-container">
          <form class="basic-form-right">
            <div class="form-group-column">
              <input required type="text" placeholder="* CPF" id="cpf" name="cpf">
              <input type="text" placeholder="* Telefone" id="telefone" name="telefone">
              <input type="text" placeholder="* Salário (R$)" id="salario" name="salario">
            </div>
          </form>
        </div>
      </div>
      <div class="local-title">
        <h1>Informações de Localização</h1>
        <div class="line"></div>
      </div>
      <div class="local-form">
        <div class="local-form-left-container">
          <form class="local-form-left">
            <div class="form-group-column">
              <input type="text" placeholder="* CEP" id="cep" name="cep">
              <input type="text" placeholder="Complemento" id="complemento" name="complemento">
            </div>
          </form>
        </div>

        <div class="local-form-right-container">
          <form class="local-form-right">
            <div class="form-group-column">
              <div class="form-group-row space-between">
                <input type="text" placeholder="Endereço" id="endereco" name="endereco" disabled>
                <input type="number" placeholder="* Número" id="numero" name="numero">
              </div>
              <div class="form-group-row space-between">
                <input type="text" placeholder="Estado" id="estado" name="estado" disabled>
                <input type="text" placeholder="Cidade" id="cidade" name="cidade" disabled>
              </div>
            </div>
          </form>
        </div>
      </div>
      <button class="fill" type="submit">REGISTRAR-SE</button>
    </div>
    <div id="logo-container">
      <a href="login" class="back-btn"> <- </a>
      <div class="text">
        <h1>Bem-vindo ao<br> Bantads!</h1>
        <p>Preencha o formulário ao lado para fazer parte do nosso time!</p>
      </div>
      <img src="../../../assets/icons/logo.png" alt="Bantads Logo">
    </div>
  </main>
</body>
