<div class="register-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>
    <form class="register-form">
      <mat-card-content>
        <div fxLayout="row">
          <mat-form-field class="register-full-width space">
            <mat-label>Nome</mat-label>
            <input
              matInput
              name="name"
              formControlName="name"
            />
          </mat-form-field>

          <mat-form-field class="register-full-width space">
            <mat-label>E-mail</mat-label>
            <input
              matInput
              type="email"
              name="email"
              formControlName="email"
            />
          </mat-form-field>
        </div>
        <div fxLayout="row">
          <mat-form-field class="register-full-width space">
            <mat-label>CPF</mat-label>
            <input
              matInput
              name="cpf"
              mask="000.000.000-00"
              type="text"
              formControlName="cpf"
              CpfValidator
            />
          </mat-form-field>


          <mat-form-field class="register-full-width space">
            <mat-label>Telefone</mat-label>
            <input
              matInput
              mask="(00) 00000-0000"
              type="text"
              name="phone"
              formControlName="phone"
            />
          </mat-form-field>
        </div>
        <div fxLayout="row">
          <mat-form-field class="register-full-width space">
            <mat-label>Salário (R$)</mat-label>
            <input
              matInput
              mask="separator.2"
              [thousandSeparator]="'.'"
              [decimalMarker]="','"
              prefix="R$ "
              name="salary"
              formControlName="salary"
            />
          </mat-form-field>

          <mat-form-field class="register-full-width space">
            <mat-label>CEP</mat-label>
            <input
              matInput
              name="cep"
              mask="00000-000"
              formControlName="cep"
              #cep
              (change)="getAddress(cep.value)"
            />
          </mat-form-field>
        </div>
        <div fxLayout="row">
          <mat-form-field appearance="fill" class="register-full-width space">
            <mat-label>Estado</mat-label>
            <input
              matInput
              name="state"
              formControlName="state"
              [value]="this.state"
              disabled
            />
          </mat-form-field>

          <mat-form-field appearance="fill" class="register-full-width space">
            <mat-label>Cidade</mat-label>
            <input
              matInput
              name="city"
              formControlName="city"
              [value]="this.city"
              disabled
            />
          </mat-form-field>
        </div>
        <div fxLayout="row">
          <mat-form-field class="register-full-width space">
            <mat-label>Rua</mat-label>
            <input
              matInput
              name="street"
              formControlName="street"
              [value]="this.street"
              disabled
            />
          </mat-form-field>

          <mat-form-field class="register-full-width space">
            <mat-label>Número</mat-label>
            <input
              matInput
              type="text"
              name="number"
              formControlName="number"
            />
          </mat-form-field>
        </div>
        <mat-form-field class="register-full-width">
          <mat-label>Complemento</mat-label>
          <input
            matInput
            name="complement"
            formControlName="complement"
          />
        </mat-form-field>
        <div fxLayout="row">
          <mat-form-field class="register-full-width space">
            <mat-label>Password</mat-label>
            <input
              matInput
              type="password"
              name="password"
              formControlName="password"
            />
          </mat-form-field>

          <mat-form-field class="register-full-width space">
            <mat-label>Password Confirm</mat-label>
            <input
              matInput
              type="password"
              name="password-confirm"
              formControlName="password-confirm"
            />
          </mat-form-field>
        </div>
      </mat-card-content>
      <section>
        <div class="example-button-row">
          <button
            mat-raised-button color="primary"
            type="submit"
          >
            Register
          </button>
        </div>
      </section>
    </form>
  </mat-card>
</div>
