<div
  fxLayout="column"
  fxLayoutAlign="center start"
  class="container-cliente-home"
>
  <div class="informacao cliente-nome">
    Bem vindo sdlkkmf
  </div>
  <div class="informacao" fxLayout="row">
    Saldo Atual:
    <div class="informacao-saldo">
      50 reais
    </div>
    <div
      class="informacao-saldo-negativo"
    >
      -60
    </div>
  </div>
  <div class="informacao" fxLayout="row">
    Limite:
    <div class="informacao-limite">
40reais de limite
    </div>
  </div>
  <div class="informacao" fxLayout="row">
    Gerente:
    <div class="informacao-gerente">Arthur</div>
  </div>
</div>
