.modal-content {
  background: black;
  border-radius: 8px;
  box-shadow: 0 2px 8px #333;
  width: calc(100vh / 1.5);
  height: 80%;
  position: absolute;
  right: 0;
  border-radius: 10px 0 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.overlay {
  background: rgba(0, 0, 0, 0.8);
  height: 93vh;
  right: 0;
  left: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  overflow: hidden;
}
