nav.navbar.nav {
  margin: 0;
  padding: 0;
  background: #1D1A2D;
}

.container {
  width: 90%;
  height: 50px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  background: #242038;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.nav-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.nav-header {
  display: flex;
  align-items: center;
  flex: 0 0 15%;
  height: 32px;
}

p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  padding: 0;
  margin: 0;
  margin-bottom: 5px;

  color: #FFFFFF;
}

.logo {
  width: 30px;
  margin-left: 15px;
  margin-bottom: 5px;
}

.nav-header {
  width: 15%;
}

.nav-center {
  width: 75%;
}

.nav-end {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 15%;
  height: 32px;
}

.nav-end li {
  display: inline-block;
  height: 30px;
  width: 40px;
}

.nav-end ul {
  height: 32px;
  margin: 0;
  padding: 0;
}

.nav-end a {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-end img {
  width: 25px;
  margin-left: 6rem;
}

button {
  background: none;
  border: none;
}
