<nav class="navbar nav">
  <div class="container">
    <div class="nav-header">
      <img src="../../../assets/icons/logo.png" class="logo">
    </div>

    <div class="nav-center">
      <p>Olá, <strong>#</strong>!</p>
    </div>

    <div class="nav-end">
      <ul>
        <li><a href=""><img src="../../../assets/icons/profile-user.png" class="right-icon"></a></li>
        <li><a href=""><img src="../../../assets/icons/log-out.png" class="right-icon"></a></li>
      </ul>
    </div>

  </div>
</nav>
